body{
    margin:0;
    font-family:Poppins,sans-serif;
    background:#EEF7FF;
}

.mobile-app{
    max-width:430px;
    margin:auto;
    padding:22px;
    min-height:100vh;
    padding-bottom:110px;
}

/* HEADER */

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:24px;
}

.header-left{
    display:flex;
    align-items:center;
    gap:14px;
}

.logo{
    width:55px;
    height:55px;
    border-radius:18px;
    background:#58C472;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    box-shadow:0 8px 18px rgba(88,196,114,.3);
}

.title{
    font-size:22px;
    font-weight:700;
}

.subtitle{
    font-size:13px;
    color:#888;
}

.status-online{
    background:#EAF9EC;
    color:#58C472;
    padding:8px 14px;
    border-radius:30px;
    font-size:13px;
}

/* WEATHER */

.weather-card{
    background:linear-gradient(135deg,#FDBA2D,#FF8A34);
    border-radius:28px;
    padding:22px;
    color:white;
    margin-bottom:22px;
    box-shadow:0 15px 30px rgba(255,153,0,.25);
}

.weather-top{
    display:flex;
    justify-content:space-between;
}

.weather-temp{
    font-size:48px;
    font-weight:700;
}

.weather-icon{
    font-size:42px;
}

.weather-info{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    margin-top:22px;
    gap:10px;
}

.weather-item{
    text-align:center;
}

.weather-item span{
    display:block;
    font-size:11px;
    opacity:.8;
}

/* QUICK ACTION */

.quick-actions{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:14px;
    margin-bottom:22px;
}

.action-card{
    background:white;
    border-radius:22px;
    padding:18px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.25s;
}

.action-card:hover{
    transform:translateY(-5px);
}

.action-icon{
    width:58px;
    height:58px;
    border-radius:18px;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:24px;
    margin-bottom:14px;
}

.pump{background:#58C472;}
.lamp{background:#FFC107;}
.wifi{background:#3B82F6;}

.action-info h6{
    margin:0;
    font-size:15px;
}

.action-info span{
    color:#777;
    font-size:12px;
}

/* CHART */

.chart-card{
    background:#fff;
    border-radius:22px;
    padding:20px;
    margin-bottom:22px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);

    height:320px;      /* tinggi card */
}

.chart-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.chart-scroll{
    overflow-x:auto;
    overflow-y:hidden;
}

.chart-wrapper{
    width:1200px;
    height:250px;
}

/* SENSOR */

.sensor-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    margin-bottom:22px;
}

.sensor-card{
    background:white;
    border-radius:22px;
    padding:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.sensor-icon{
    width:58px;
    height:58px;

    margin:auto;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:18px;

    color:white;
}

.sensor-icon i{
    font-size:24px;
    line-height:1;
}

.sensor-value{
    font-size:30px;
    font-weight:700;
}

.sensor-title{
    color:#777;
    font-size:13px;
}


/* ===========================
   RECENT ACTIVITY
=========================== */

.activity-card{
    background:#fff;
    border-radius:22px;
    padding:22px;
    margin-bottom:24px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.activity-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
}

.activity-header h5{
    margin:0;
    font-size:18px;
    font-weight:600;
}

.activity-header a{
    text-decoration:none;
    font-size:13px;
    color:#58C472;
    font-weight:500;
}

.activity-item{

    display:flex;
    align-items:center;
    gap:15px;

    padding:15px 0;

    border-bottom:1px solid #ECECEC;
}

.activity-item:last-child{
    border-bottom:none;
    padding-bottom:0;
}

.activity-icon{

    width:48px;
    height:48px;

    border-radius:14px;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#fff;

    flex-shrink:0;
}

.activity-icon i{

    font-size:20px;

}

.success{

    background:#58C472;

}

.primary{

    background:#4D96FF;

}

.warning{

    background:#FDBA2D;

}

.activity-content{

    flex:1;

}

.activity-content h6{

    margin:0;

    font-size:15px;

    font-weight:600;

}

.activity-content span{

    display:block;

    margin-top:3px;

    color:#8A8A8A;

    font-size:12px;

}
/* NAVBAR */

.bottom-nav{
    position:fixed;
    left:50%;
    transform:translateX(-50%);
    bottom:18px;
    width:min(390px,92%);
    background:white;
    border-radius:22px;
    display:flex;
    justify-content:space-around;
    padding:14px 0;
    box-shadow:0 12px 25px rgba(0,0,0,.12);
}

.bottom-item{
    text-decoration:none;
    color:#777;
    text-align:center;
}

.bottom-item.active{
    color:#58C472;
}

.bottom-item i{
    font-size:22px;
    display:block;
    margin-bottom:4px;
}